body, html, #homepage {
  height: 100%;
}

@font-face {
  font-family: RenReg;
  src: url(ren_regular.ttf);
}

@font-face {
  font-family: RenShadow;
  src: url(ren_shadow.ttf);
}

.navbar.navbar-inverse {
  margin: 0;
}

.navbar-brand {
  font-family: RenReg;
  font-size: 25px;
}

#jumbotron {
  background: url(logo.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
/*  width: 100%;*/
/*  background: url(gather.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;*/
}

/*#logo {
  position: relative;
  text-align: center;
  font-family: RenShadow;
  color: white;
  font-size: 100px;
}*/

#get-started {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 300px;
}

#logo {
  position: relative;
  font-family: RenShadow;
  text-shadow: 2px 2px 5px #000000;
  color: white;
  font-size: 180px;
}

#get-started-button {
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 18px;
  background: #686868;
  background: rgba(104, 104, 104, 0.5);
  border: 2px solid #FFF;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

#get-started-button:hover {
  background-color: black;
  color: #fff;
}

#intro {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 16px;
  text-align: center;
}

#icons {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

#icons p {
  font-size: 16px;
}

#eventpage {
  margin-top: 50px;
  padding:20px;
}

#eventpage h1 {
  text-align: center;
  font-size: 60px;
}

#event-buttons {
  text-align: center;
}

@media (max-width: 700px) {
  #logo {
    /*  text-shadow: 2px 2px 5px #000000;*/
    font-size: 100px;
    padding-bottom: 20px;
  }
}
