.navbar.navbar-inverse {
  margin: 0;
}

#intro {
  padding: 20px;
}

#eventpage {
  margin-top: 50px;
  padding:20px;
}

#eventpage h1 {
  text-align: center;
  font-size: 60px;
}

#event-buttons {
  text-align: center;
}


